println()
color(0x00FFFF)
println()
println("               #####   Fehler Code 690000000000000D Fix   ######")
println("               #####                                      ######")
println("               #####           Reparatur Skript           ######")
println("               #####         Created by Woody2408         ######")
println()
println()
color(0xFFFFF)
println("Mit diesem Skript kann der Fehlercode 690000000000000D")
println("behoben werden. Es wird nur dieser Fehler behoben! Es werden")
println("keine Daten geloescht. EmuMMC, Savegames etc. bleiben erhalten")
println()
println()
color(0x00FF00)
println("Druecke die A Taste, um die Reparatur zu starten.")
println()
println()
color(0xFF0000)
println("Zum abbrechen die B Taste druecken.")
color(0xFFFFFF)

if (!pause().a){
    exit()
}

println()
println()
println()
println()
println()
println()
println("	Der Ordner 690000000000000D wird nun entfernt")
println()
color(0xFF0000)

if (fsexists("sd:/atmosphere/contents/690000000000000D")){
    deldir("sd:/atmosphere/contents/690000000000000D")
}

color(0x00FF00)
println()
println()
println()
println()
println("  Der Ordner 690000000000000D wurde erfolgreich geloescht")
println("  Du solltest nun wieder in den emuMMC booten koennen")
println()
color(0xFFFFFF)
println()
println("  Nach dem beenden des Skripts ### Reboot to bootloader/update.bin ###")
println("  auswaehlen um Hekate zu booten.")
println("  Alternativ Power off auswaehlen und Konsole wieder einschalten")
println()
color(0xFE0000)
println()
println("  Druecke eine beliebige Taste, um das Skript zu beenden. ")pause()println("  Platzhalter. ")
println("  Druecke eine beliebige Taste, um zurueckzukehren. ")pause()