println()
color(0x00FFFF)
println()
println("               #####     Fehler Code 4200000000000010     ######")
println("               #####                                      ######")
println("               #####           Reparatur Skript           ######")
println("               #####         Created by Woody2408         ######")
println()
println()
color(0xFFFFF)
println("Mit diesem Skript kann der Fehlercode 4200000000000010")
println("behoben werden. Es wird nur dieser Fehler behoben! Es werden")
println("keine Daten geloescht. EmuMMC, Savegames etc. bleiben erhalten")
println()
println()
color(0x00FF00)
println("Druecke die A Taste, um die Reparatur zu starten.")
println()
println()
color(0xFF0000)
println("Zum abbrechen die B Taste druecken.")
color(0xFFFFFF)

if (!pause().a){
    exit()
}

println()
println()
println()
println()
println()
println()
println("	Der Ordner 4200000000000010 wird nun entfernt")
println()
color(0xFF0000)

if (fsexists("sd:/atmosphere/contents/4200000000000010")){
    deldir("sd:/atmosphere/contents/4200000000000010")
}

color(0x00FF00)
println()
println()
println()
println()
println("  Der Ordner 4200000000000010 wurde erfolgreich geloescht")
println("  Du solltest nun wieder in den emuMMC booten koennen")
println()
color(0xFFFFFF)
println()
println("Druecke die Power oder A-Taste.")
println("Deine Konsole bootet automatisch zu Hekate")
println()
println("*** Warte auf Eingabe ***")

if (pause().a){
payload("sd:/bootloader/update.bin")
}
